---
import { ResponsiveTable } from "@/components/responsive-table";
import MainLayout from "@/layouts/MainLayout.astro";

---

<MainLayout title="Articulos">
  <!-- <h1 class=" p-4 text-3xl font-bold text-nowrap">Artículos Inventario</h1> -->
  <ResponsiveTable client:load />
</MainLayout>