---

---


<footer class="p-1 mx-auto font-semibold text-sm ">
  <span>&copy; {new Date().getFullYear()} Hecho con 
    <span class="transition-all duration-300 hover:scale-105">❤️ por</span> 
    <a class="text-blue-500" href="https://github.com/FrancoDev7" target="_blank">FrancoDev7.</a>
    Todos los Derechos Reservados.
  </span>
</footer>